.crud {
    width: 80%;
    height: auto;
    display: block;
}

.crud-newtask {
    width: 100%;
    padding: 10px;
}

.crud-table thead {
    border: 1px solid black;
}
  
.crud-table tbody {
    border-bottom: 1px solid black;
}

.crud-table {
    width: 100%;
}


